@import "variables";

@mixin sizeLarge {
    height: 46px;
    line-height: 46px;
    font-size: 16px;
}

@mixin sizeDefault {
    height: 40px;
    line-height: 38px;
    font-size: 14px;
}

@mixin sizeMedium{
  font-size: 14px;
  height: 34px;
  line-height: 36px;
}

@mixin sizeSmall{
  font-size: 14px;
  height: 30px;
  line-height: 28px;
}

@mixin sizeMini{
  font-size: 13px;
  line-height: 26px;
  height: 28px;
}



@mixin themePrimary{
    background-color: $color-green;
    border-color: $color-green;
    color: $color-white;
}

@mixin themeInfo{
    background-color: $color-gray-light;
    border-color: $color-gray-light;
    color: $color-white;
}

@mixin themeTransparent {
    background-color: rgba(0, 0, 0, 0);
    color: $color-gray;
    border-color: $color-gray;
    border-radius: 50px;

    &:hover{
        background-color: rgba(40, 40, 40, 1);
    }
}
