.idea/
vendor/
composer.lock
logs/
env/product/*
env/beta/*
assets/dist/
assets/node_modules/
assets/pages_modules/node_modules/
assets/pages_modules/dist/
node_modules/
src/App/Home/meitumall/v1/js
src/App/Home/meitumall/v1/css
src/App/Home/meitumall/v1/images
src/App/Home/meitumall/v1/fonts
src/App/Home/public/services
src/App/Home/public/h5
src/App/Home/public/error
src/App/Home/public/mall
src/App/Home/view
