@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
.cooButton{
    position: relative;
    padding: 0px 20px;
    box-sizing: border-box;
    @include sizeDefault;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid transparent;
    &-primary{
        @include themePrimary;
    }
    &-info{
        @include themeInfo;
    }
    &-transparent{
        @include themeTransparent;
    }
    &-large{
        @include sizeLarge;
    }
    &-medium{
        @include sizeMedium;
        padding: 0px 20px;
    }
    &-small{
        @include sizeSmall;
        padding: 0px 15px;
    }
    &-mini{
        @include sizeMini;
        padding: 0px 10px;
    }
    &-animate{
        &.cooButton{
            &-prefix{
                transition: padding-left 218ms ease;
            }
            &-suffix{
                transition: padding-right 218ms ease;
            }
            &-cover{

            }
        }
        .coo-icon{
            position: absolute;
            margin-left: 8px;
            font-size: 26px;
            opacity: 0;
            transition: opacity 218ms ease;
        }
        &:hover{
            .coo-icon{
                opacity: 1;
            }
        }
        &:hover{
            padding-right: 34px;
        }
    }
}