@import '../../../assets/scss/global/variables';
.administrators{
    padding: 10px;
    &-toolbar{

    }

    &-content{
        margin-top: 10px;
    }

    &-avatar{
        display: block;
        width: 50px;
        border-radius: 50px;
    }
}

