@import "../../assets/scss/global/variables";

.drawer-fade-enter-active {
    animation: drawer-fade-in 0.5s ease-in-out;
}

.drawer-fade-leave-active {
    animation: drawer-fade-out 0.5s ease-in-out;
}


@keyframes drawer-fade-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);

    }
}

@keyframes drawer-fade-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.coo-drawer{
    position: fixed;
    right: 0px;
    top: 60px;
    bottom: 0px;
    background-color: $color-white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    &-title{
        background-color: $color-white-dark;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
    }
    &-close{
        position: absolute;
        top: 50%;
        left: -20px;
        background-color: $color-white-dark;
        border: 1px solid #dddddd;
        border-right: 0px;
        font-size: 15px;
        padding: 10px 3px;
        outline: none;
        box-shadow: -3px 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        color: $color-gray;
    }
}