@import "../../../assets/scss/global/variables";
.layout{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #f6f6f6;
    &_top{
        height: 50px;
        background: $color-white;
        background: linear-gradient(to bottom,#086ed5,#055db5);
        border-bottom: 1px solid #044e97;
        box-sizing: border-box;
        h1{
            font-weight: normal;
            font-size: 18px;
            line-height: 50px;
            padding-left: 35px;
            background-image: url(../../../assets/images/logo.png);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: left center;
            margin-left: 30px;
            color: $color-white;
        }
    }
    &_container{
        position: absolute;
        top: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    &_viewport{
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 200px;
        border-left: 1px solid $color-border;
    }
}