@import "../../../assets/scss/global/variables";
.layout{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &_top{
        height: 64px;
        box-sizing: border-box;
        padding-top: 10px;
        border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    }
    &_logo{
        background-image: url(../../../assets/images/mt-logo.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        margin-left: 20px;
        width: 200px;
        height: 20px;
    }
    &_slogan{
        margin-left: 20px;
        color: $color-white;
        font-size: 12px;
        margin-top: 5px;
    }
    &_container{
        position: absolute;
        top: 64px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    &_viewport{
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 200px;
        box-sizing: border-box;
        padding: 0 5px 10px 5px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &_content{
        background-color: #f6f6f6;
        height: 100%;
        position: relative;
    }
}