@import "../../assets/scss/global/variables";
.login{
    background-image: url(../../assets/images/bg-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display:flex;
    box-sizing: border-box;
    flex: 1;
    align-items:center;
    justify-content:center;
    &-content{
        width: 100%;
        max-width: 430px;
        margin: 0 auto;
        background-color: #ffffff;
        box-shadow: 0 2px 3px rgba(0,0,0,.55);
        border: 1px solid rgba(0,0,0,.4);
        padding-top: 30px;
    }
    &-logo{
        height: 25px;
        background-image: url(../../assets/images/mt-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-slogan{
        font-size: 22px;
        text-align: center;
        margin-top: 15px;
        color: #e62878;
    }
    &-form{
        padding: 30px;
    }
    &-line{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    &-error{
        color: $color-error;
        height: 14px;
    }
    &-footer{
        position: absolute;
        bottom: 0px;
        padding: 0px 0px 50px 50px;
        font-size: 12px;
        a{
            color: #d3d3d3;
        }
        span{
            display: inline-block;
            height: 12px;
            vertical-align: middle;
            margin: 0 10px;
            border-right: 1px solid #d3d3d3;
        }
    }
    .cooButton{
        width: 100%;
    }
}