@import "../../../assets/scss/global/variables";
.me{
    background-color: #ffffff;
    height: 100%;
    box-sizing: border-box;
    width: 800px;
    position: relative;
    &-title{
        height: 150px;
        line-height: 150px;
        background-color: #44799b;
        position: relative;
        text-align: right;
        color: #ffffff;
        font-size: 30px;
        font-weight: normal;
        padding-right: 30px;
    }
    &-avatar{
        width: 150px;
        position: absolute;
        bottom: -70px;
        left: 20px;
        border: 5px solid #ffffff;
        border-radius: 2px;
    }
    &-box{
        padding: 0px 20px 0px 220px;
    }
    &-line{
        position: relative;
        padding: 30px 0px 30px 150px;
        border-bottom: 1px solid #ebebeb;
        &:hover{
            .me-link{
                display: inline;
            }
        }
    }
    &-label{
        position: absolute;
        left: 0px;
        color: $color-gray-darker;
        font-weight: 600;
    }
    &-link{
        color: $color-gray;
        margin-left: 20px;
        display: none;
        &:hover{
            color: $color-main;
        }
    }
}