@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
.cooInput{
    position: relative;
    &_input{
        @include sizeDefault;
        width: 100%;
        padding: 0px 12px;
        font-size: 16px;
        -webkit-appearance: none;
        background-color: $color-white;
        border: $color-form-border;
        transition: border-color ease-in-out .15s;
        display: block;
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        outline: none;
        box-sizing: border-box;
        &:focus{
            border-color: $color-form-focus-border;
        }
    }
    &-large {
        .cooInput_input{
            @include sizeLarge;
        }
        .cooInput_icon{
            @include sizeLarge;
        }
    }
    &-medium{
        .cooInput_input{
            padding: 0px 10px;
            @include sizeMedium;
        }
        .cooInput_icon{
            @include sizeMedium;
        }
    }
    &-small{
        .cooInput_input{
            padding: 0px 9px;
            @include sizeSmall;
        }
        .cooInput_icon{
            @include sizeSmall;
        }
    }
    &-mini{
        .cooInput_input{
            padding: 0px 7px;
            @include sizeMini;
        }
        .cooInput_icon{
            @include sizeMini;
        }
    }
    &_icon{
        position: absolute;
        right: 10px;
        top: 0px;
        line-height: 46px;
        font-size: 18px;
        color: $color-gray;
        transition: color ease-in-out .15s;
        cursor: pointer;
        z-index: 1;
        &:hover{
            color: $color-blue;
        }
    }
    &-password{
        .cooInput_clear{
            right: 40px;
        }
    }
}